// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// color scheme for glucomama
$pale: #F8F5F1;
$yellowgluco: #FFE374;
$purple: #8989FE;
$grayishorange: #DBBCA8;
$bluepurple: #5A5A97;
$redgluco: #E42D2A;
$logopurple: #A58AC8;
$persianindigo: #27187E;
$coral: #FD7973;
$cherryblossom: #EDAFB8;
$peach: #FA8969;
$champpink: #F7E1D7;
$theme: #fff6ed;
