// Specific CSS for your home-page


body {
  background-color: $theme;
}



.home-banner {
  background-image: asset-url('background_mama.png');
  width: 100%;
  color: $richblack;
  height: 700px;
  background-size: cover;
  text-align: end;
  font-size: 60px;

        }

.contentDiv {
    background-color: transparent;
    height: 250px;
    position: relative;
    width: 2400px;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.banner_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  // width: 1200px;
  // height: 231px;


  h2 {
    margin-left: 53px;
    width: 85%;
    font-size: 75px;
    margin-top: 30px;
  }

}


.slogan_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  h3 {
    margin-left: 50px;
    width: 50%;
    font-size: 26px;
    margin-top: 30px;

    // font-family: "Poetsen One", sans-serif;
    // font-weight: 400;
    // font-style: normal;
  }
}


.home-info {
  margin: 24px 0px ;
  .container-slogan {
    // padding: 15px 150px;
    // margin: 0px 150px;
    margin: 0px 55px;
    height: 230px;
    overflow: hidden;
    // height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $lightheme;
    // border: black, 1px, solid;


    .container-slogan-img img {
      background-color: transparent; /* Remove the background color */
      width: 380px;
      object-fit: cover;
      padding: 8px;
    }

    .card-slogan-1 {
      margin: 0px 26px;
      width: 50%;
    }
  }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $coral;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $lightcoral;
  color: white;
}






// @media (max-width: 800px) {
//   .text {
//     width: 30%;
//   }
// }
