.intro {
  background-color: $pale;
  padding: 20px;
  border-radius: 10px;

  h2 {
    color: $purple;
    margin-bottom: 10px;
  }

  p {
    color: $grayishorange;
  }

  .mini-profile {
    margin-top: 20px;

    ul {
      list-style-type: none;

      li {
        color: $bluepurple;
        margin-bottom: 5px;
      }
    }
  }
}

// Styling for Calendar section
.calendar {
  h3 {
    color: $purple;
    margin-bottom: 10px;
  }

  /* Positioning for right side */
  // float: right;
  // width: 50%;
  // box-sizing: border-box;
  // padding: 20px;
}

// Styling for Buttons section
.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 100px 50px 100px;
  margin: 0px;


  .left-side, .right-side {
    display: flex;
    flex-direction: column;
  }

  .left-side {
    // Styling for Trends in BM section
    .current-progress {
      margin-bottom: 20px;
    }
  }

  h3 {
    color: $purple;
    margin-bottom: 10px;
  }


  button {
    background-color: $yellowgluco;
    color: $pale;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($yellowgluco, 10%);
    }
  }
}



// CSS for .turbo-progress-bar
.turbo-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition:
    width 300ms ease-out,
    opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}
