.intro {
  background-color: $pale;
  padding: 5px;
  border-radius: 10px;

  h2 {
    color: $purple;
    margin-bottom: 10px;
  }

  p {
    color: $grayishorange;
  }

  .mini-profile {
    margin-top: 20px;

    ul {
      list-style-type: none;

      li {
        color: $bluepurple;
        margin-bottom: 5px;
      }
    }
  }
}

// Styling for Calendar section
.calendar {
  border-radius: 30px;
  .right-side {
    display: flex;
    flex-direction: column;

  h3 {
    color: $purple;
    margin-bottom: 10px;
  }

  /* Positioning for right side */
  // float: right;
  // width: 50%;
  // box-sizing: border-box;
  // padding: 20px;
  }
}

// Styling for Buttons section
.actions {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 350px;
  padding: 0px 100px 50px 100px;
  margin: 0px;


  .left-side, .right-side {
    display: flex;
    flex-direction: column;
  }

  .left-side {
    // Styling for Trends in BM section
    .current-progress {
      margin-bottom: 20px;
    }



  }

  .img{
    width: 500px;
    height: 200px;
    border-radius: 30px;
  }

  h3 {
    color: $purple;
    margin-bottom: 10px;
  }


  button {
    background-color: $grayishorange;
    color: $pale;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($grayishorange, 10%);
    }


  }

  .small-icon {
    width: 100px;
    height: 100px;
    border-radius: 30px


  }
}


// CSS for .turbo-progress-bar
.turbo-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition:
    width 300ms ease-out,
    opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}
