// This is the SCSS for the blood form page
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 50px;
  background-color: $theme;
  border-radius: 30px;
}

.form{
  margin: 50px auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 20px 20px;
}

.container-form {
  display: flex;
  flex-direction: column;
}


// i {
//   font-size: 60px;
//   color: red;
// }
.heading{
  color:black;
  text-align:center;
}

.button{
  color:$richblack;
  background-color:$champpink;
  border-radius: 5px;
  border-color:$champpink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 120px;

}


#new_recording {
  border-radius: 15px;
  background-color: white;
}
#recording_reading {
  border-radius: 15px;
}

#recording_time {
  border-radius: 15px;
}

#recording_date {
  border-radius: 15px;
}

#recording_ingredients {
  border-radius: 15px;
}
