<div class= "banner">

<div class="container">
<br>
  <h1>Healthy Choices for You and Baby</h1>
<br>
    <div class="text">
      <p>Stay in control with GlucoMama, the ultimate app for managing gestational diabetes.
      Easily track your blood sugar levels, discover delicious recipes, and get personalized insights to keep you and your baby healthy.
      GlucoMama makes monitoring your glucose simple and stress-free, so you can focus on enjoying your pregnancy.</p>
    </div>

</div>

</div>
