.navbar-lewagon {
  justify-content: space-between;
  background: $champpink;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  img {
    /* Existing styles */
    background-color: transparent; /* Remove the background color */
  }
  width: 40px;
}

.nav-link {
color: $persianindigo;
}
